/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .9 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #349f4e;
$nice-radio-color: #5b5b5b;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #5b5b5b;
$nice-checkbox-color: #5b5b5b;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #ff6c2b;
$btn-back-hover: #349f4e;
$btn-back-active: #2a7a3d;
$btn-color: #fff;
$btn-color-active: #fff;

$btn-2-back: #ea6428;
$btn-2-back-hover: #f0a;
$btn-2-back-active: #000;
$btn-2-color-active: #f0a;
/*---------- /btn ---------*/