.logo {
  position: absolute;
  top: 16px;
  left: 50%;
  width: 123px;
  height: 39px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  img {
    display: block;
    width: 100%;
    height: auto;
  }

}

@media (min-width: $tablet-portrait) {

}
@media (min-width: $desktop) {

  .logo {
    top: 5px;
    left: 36px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}