.nice-radio {
  user-select: none;

  input[ type = radio ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {
      @include main-font2();
      color: #349f4e;

      &:before {
        opacity: 1;
      }

    }

    &:disabled + label {
      cursor: default;
      opacity: .5;

    }

  }
  label {
    position: relative;
    display: block;
    padding: 2px 0 2px 33px;
    color: $nice-radio-color;
    cursor: pointer;
    @include main-font1();

    &:after,
    &:before {
      position: absolute;
      border-radius: 50%;
      content: '';
    }

    &:after {
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border: 2px solid $nice-radio-after-color;
      background: #fff;
      -webkit-transition: border 0.3s ease;
      transition: border 0.3s ease;
    }

    &:before {
      z-index: 3;
      opacity: 0;
      top: 6px;
      left: 6px;
      background: $nice-radio-after-color;
      width: 8px;
      height: 8px;
      content: '';
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }

  }

}