@font-face {
  font-family: "Helvetica Neue Thin";
  src:
  url("../fonts/helveticaneuecyr-thin-webfont.woff2") format('woff2'),
  url("../fonts/helveticaneuecyr-thin-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

