@font-face {
  font-family: "Museo Sans 500";
  src:
  url("../fonts/museosans-500-webfont.woff2") format('woff2'),
  url("../fonts/museosans-500-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

